
/* BODY */

body{
    font-family: 'Poppins', sans-serif;
    color: #303453;
    background: white;
}

.page-content{
    padding: 60px;
}

.textcolor{
    color: blue;
    font-weight: 400;
}

/************** HOME PAGE STUFF **************/

.welcome{
    margin-left: 100px;
    color: #303453;
    font-weight: 400;
}

.welcome-header{   
    font-size: 80px;  
    margin: 0px;
    font-weight: 500;
    /*padding: top right bottom left*/
}

.welcome-subheader{
    font-size: 30px;
    padding-top: 0px;
    margin: 0;
}

.subheader{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.welcome-body{
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    width: 500px;
}

.welcome-contact{
    color: blue;
    text-decoration: none;
}

.fa{
    color: #303453;
    padding: 20px;
    padding-left: 0px;
}

/************** PROJECTS SECTION **************/

.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    padding-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.projects-header{
    font-weight: 400;
    font-size: 20px;
    padding: 60px;
    padding-top: 0px;
    margin-left: 100px;
}

.project-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 900px;
}

.project-img{
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.project-text{
    padding-left: 30px;
}

.project-title{
    font-weight: 400;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.project-link{
    border-style: solid;
    border-color: #303453;
    padding: 10px;
    margin-top: 30px;
    width: 150px;
    text-align: center;
}

.project-link:hover{
    border-style: solid;
    border-color: #303453;
    padding: 10px;
    width: 150px;
    text-align: center;
    color: white;
    background-color: #303453;
}


/************** ABOUT PAGE **************/

.about-title{
    font-size: 40px;
    font-weight: 400;
    padding-left: 135px;
    padding-bottom: 30px;
}

.about-container{
    display: flex;
    justify-content: center;
}

.body-text{
    font-weight: 300;
}

.sub-body-text{
    font-weight: 200;
}

.about-photo img{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100%;
    padding: 50px;
}

.about{
    padding-right: 30px;
    width: 500px;
}

.about-resume-container{
    padding-left: 135px;  
    padding-top: 100px;
}

.chip{
  display: inline-block;
  background: #303453;
  color: white;
  font-weight: 200;
  padding: 3px 12px;
  border-radius: 32px;
  font-size: 13px;
  margin-right: 5px;
}

/************** NAV BAR **************/

  ul { 
    margin: 30px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }

  .navstyle {
    color: #303453;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

  .navstyle:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #303453;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .navstyle:hover:after { 
    width: 100%; 
    left: 0; 
  }

  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }

  .active{
    font-weight: 700; 
  }



/************* PLAY PAGE ******************/

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px;
}
  
.gallery-item{
    padding: 10px;
}

img {
    height: 500px;
    max-width: 100%;
  }


  /************** FOOTER **************/

  footer .container{
    font-family: 'Poppins', sans-serif;
    color: #303453;
    font-size: 12px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

