
.welcome{
    color: black;
    font-family: 'Roboto';
    padding: 40px; 
}

.welcome-header{   
    font-size: 70px;  
}

.welcome-body{
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    font-family: 'Roboto';
  }
  

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #F5A8A8;
  }
  

.topnav a.active {
    color: #F5A8A8;
  }

.topnav .name-header {
    float: left;
}

.topnav .name-header:hover {
    background-color: white;
    color: black;
  }